@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html , body {
  overflow-x: hidden;
}

@font-face {
  font-family: Redwing;
  src: url("../fonts/Redwing-Light.otf");
}

.font-redwing {
  font-family: Redwing , sans-serif;
}

.hero-img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-img.active {
  opacity: 1;
}
