@import "tailwindcss";

@font-face {
  font-family: 'Redwing';
  src: url('/fonts/Redwing/Redwing-Medium.woff2') format('woff2'); /* Adjust path and filename */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redwing';
  src: url('/fonts/Redwing/Redwing-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}