<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header class="bg-black text-white p-3 flex flex-row items-center justify-evenly">
            <div>
                <a href="../index.html">
                    <img src="../images/Team-Turco-Logo-Header.jpg" alt="Team Turco Logo"
                    class="w-12 h-12 object-cover cursor-pointer hover:transform hover:scale-120 transition-transform duration-300">
                </a>
             
            </div>
            <nav>
                <ul class="flex flex-row gap-2 space-x-4">
                    <li>
                        <a href="../index.html"
                        class="pb-1 hover:border-b-2 hover:border-white">Home</a>
                    </li>
                    <li>
                        <a href="../athletes.html" 
                        class="pb-1 hover:border-b-2 hover:border-white">Athletes</a>
                    </li>
                    <li>
                        <a href="../coaches.html" 
                        class="pb-1 hover:border-b-2 hover:border-white">Coaches</a>
                    </li>
                    <li>
                        <a href="../about.html"
                        class="pb-1 hover:border-b-2 hover:border-white">About</a>
                    </li>

                </ul>
            </nav>
            <div>
                <button class="bg-white text-black px-3 py-1 rounded">Sign Up</button>
            </div>
        </header>
    </body>
</html>